/* medium.css */
@media screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        font-size: 24px;
    }

    nav {
        display: block;
    }
}