* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    grid-column: 2;
    text-align: center;
    align-items: center;
}

.image {
    margin-bottom: 100px;
    margin-left: 500px;
    margin-right: 500px;
    align-items: center;
}

header {
    text-align: center;
    padding: 20px;
}

header a {
    color: grey;
}

header a:hover {
    color: rgb(67, 67, 39);
}