:root {
		--primary-bg: rgb(145, 161, 183);
		--primary-fg: rgb(37, 37, 37);
		--secondary-fg: rgb(86, 96, 107);
		--secondary-bg: rgb(253, 253, 239);
		--pop-color: rgb(166,99,23);
		--menu-bg: rgba(159, 194, 243, 0.9);
		--white-bump: rgba(145, 145, 145, 0.2);
		--drop-shadows: rgba(0,0,0, .2);
		--body-font: 'Open Sans', sans-serif;
		--heading-font: 'Arial', sans-serif; 
		--max-width: 100em; 
	}
	* {
		border: 1px solid rgba(255, 0, 0, 0);
	}
	html {
		margin: 0px;
		padding: 0px;
		background-color: rgb(143, 136, 136);
		color: white;
	}
	body {
		background-color: rgb(202, 162, 162);
		max-width: var(--max-width);
		margin: 0 auto;
		border: 0;
		font-family: var(--body-font);
		background-color: var(--primary-bg);
		color: var(--primary-fg);
	}
	header {
		position: sticky;
		font-family: arial;
		align-items: baseline;
	}

	header div.banner {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: var(--heading-font);
		border: 0px;
		background-image: linear-gradient(180deg, var(--primary-bg), rgba(200, 220, 248, .5)),  url(../images/background1.jpg);
		margin: 0;
		padding: 20px;
	}
	header img {
		width: 3em;
		aspect-ratio: 1/1;
		height: auto;
		border: 0 solid transparent;
	}
	header h1 {
		margin: 0 .5em;
		padding: 0;
		text-align: center;
		font-size: 1.5em;
		text-shadow: 0 0 4px rgba(200, 220, 248,1);
	}
	header div#current-date {
		text-align: center;
		filter: hue-rotate(-90deg);
		font-size: 1em;
	}
	nav {
		display: flex;
		flex-direction: column;
		padding: 10px 20px;
		margin: 0;
		background-color: var(--menu-bg);
		backdrop-filter: blur(3px);
		font-weight:900;
		border-bottom: 10px solid rgba(255,255,255,.7);
	}

	nav ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	nav ul li {
		padding: 10px 0;
	}
	nav ul li a {
		width: 100%;
		padding: 10px 0px;
		text-decoration: none;
		text-align: left;
	}
	nav ul li a:hover {
		color: yellow;
	}
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		background-color: aliceblue;
	}
	
	footer {
		text-align: center;
		padding: 50px;
	}

	footer img {
		text-align: center;
	}
	
	h1, h2, h3, h4 {
		font-family: var(--heading-font);
	}
	a {
		color: var(--primary-fg);
		filter: brightness(110%);
	}
	a:hover {
		filter: brightness(140%);
		background-color: var(--white-bump);
	}
	ul.social {
		width: 40px;
	}
	ul.social img {
		width: 40px;
	}
	#burger-button {
		padding: 5px 5px;
	}
	.left-float {
		float: left;
		margin: 10px 20px 10px 0;
		width: 33%;
		height: auto;
		border-radius: .5em;
		background-color: var(--drop-shadows);
		box-shadow: .5em .5em .5em var(--drop-shadows);
	}
	.right-float {
		float: right;
		margin: 10px 0 10px 20px;
		width: 30%;
		height: auto;
		border-radius: .5em;
		background-color: var(--drop-shadows);
		box-shadow: .5em .5em .5em var(--drop-shadows);
	}
	.burger-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.burger-flex ul:nth-child(1) {
		flex-basis: 100%;
	}
	.burger-flex ul:nth-child(2) {
		flex-basis: auto;
	}
	#burger-button img {
		height: 30px;
		width: 30px;
	}
	.hidden {
		display: none;
	}
	.hero, .event, .weather, .news, .spotlights, .join  {
		background-color: rgba(0,0,0, .03);
		text-shadow: 0 0 5px var(--secondary-bg);
		aspect-ratio: 3/1;
		padding: 1em;
		border-radius: .5em;
		overflow: hidden;
		border: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}