:root {
    --primary-bg: rgb(56, 87, 133);
    --primary-fg: rgb(255, 255, 255);
    --secondary-fg: rgb(49, 65, 84);
    --secondary-bg: rgb(227, 227, 227);
    --pop-color: rgb(166,99,23);
    --menu-bg: rgba(34, 52, 77, 0.9);
    --white-bump: rgba(255,255,255,.2);
    --drop-shadows: rgba(0,0,0, .2);
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Oswald', sans-serif; 
    --max-width: 90em; 
}
* {
    border: 0px solid rgba(255, 0, 0, 0);
    box-sizing: border-box;
}
html {
    margin: 0px;
    padding: 0px;
    background-color: rgb(52, 52, 52);
    color: white;
}
body {
    background-color: rgb(107, 107, 107);
    max-width: var(--max-width);
    margin: 0 auto;
    border: 0;
    font-family: var(--body-font);
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}

header {
    background-size: cover; 
    border: 0;
    position: sticky;
    z-index: 2;
}

#current-date {
	text-align:right;
}

#banner {
	text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--heading-font);
    border: 0px;
    margin: 0;
    padding: 50px;
}
header > div > img {
    width: 3em;
    aspect-ratio: 1/1;
    height: auto;
}
header > div > h1 {
    margin: 0 .5em;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 0 0 4px rgb(3, 36, 84);
}

nav {
    display: flex;
    position: relative;
    box-sizing: border-box;
    top: 0;
    flex-direction: column;
    padding: 10px 20px;
    margin: 0;
    backdrop-filter: blur(3px);
    font-weight:900;
    border-bottom: 10px solid rgba(255,255,255,.7);
    height: 70px;
    z-index: -1;
}
#burger-button {
    padding: 5px 5px;
    z-index: 500;
    width: min-content;
}
#burger-button img {
    height: 30px;
    width: 30px;
}

#burger-menu {
    position:static;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    background-color: var(--menu-bg);
    border-radius: 10px;
    animation-name: menu-slide-in;
    animation-duration: .1s;
    z-index: -1;
}
#burger-menu > ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}
#burger-menu > ul > li {
    padding: 0 0;
}
#burger-menu > ul > li > a {
    text-decoration: none;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
#burger-menu > ul:first-child > li > a:hover {
    animation-name: shift-right;
    animation-duration: 1s;
    animation-fill-mode:forwards
}
#burger-menu > ul:first-child > li > a {
    animation-name: return-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
} 

/* MAIN */
main {
    overflow: hidden;
    background-color: var(--secondary-bg);
    color: var(--secondary-fg);
    padding: 1em 1em;
    gap: 10px;
    z-index: 0;
}
#hero, #event, #weather, #news, #spotlights, #join  {
    aspect-ratio: 19/9;
    background-color: var(--drop-shadows);
    border-radius: .5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#hero {
    background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

#hero h1 {
    margin-top: 50px;
}

#hero button {
    margin-top: 250px;
    border-radius: 10px;
    padding: 10px;
    font-weight:bolder;
    background-color: aliceblue;
    font-size: large;
}


#event button {
    border-radius: 10px;
    padding: 10px;
    margin-top: 60px;
    font-weight: bolder;
}

#hero button:hover {
    opacity: 90%;
    cursor: pointer;
}

#event {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
#event:hover {
    opacity: 90%;
    cursor: pointer;
}

#weather {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=744&q=80");
}

#temperature {
    font-size: x-large;
    font-weight: bold;
}

#news {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

#newsdiv {
    background-color: rgb(59, 59, 59);
    width: 300px;
    display: inline-block;
    padding: 10px;
    backdrop-filter: var(--drop-shadows);
    
}

#spotlights {
    color: white;
    background-image: url("https://images.unsplash.com/photo-1560195183-570e72bb6fd8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}

#join {
    background-image: url("https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}


/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: .75em;
    align-items: center;
    row-gap: 20px;
}
footer div.contact-info {
    text-align: center;
    border-radius: 1em;
    border: 2px solid rgba(0,0,0, .03);
    padding: 10px;
}
#footer-logo {
    width: 3em;
}

#banner.menu-pinned {
    display: none;
}
.hidden {
    display: none;
}
.flex {
    display: flex;
}
.alert {
    font-size: 1.5em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 1.2em;
    background-color: rgba(255,255,255, .5);
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 4px 4px 0 0;
}
.alert > button {
    width: fit-content;
    padding: 0;
    margin: 0;
    border-radius: 2em;
}
.alert > span {
    margin: 0 1em;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}
a {
    color: var(--primary-fg);
    filter: brightness(110%);
}
a:hover {
    color: yellow;
}
.description {
    margin-top: 1px;
}
div img{
    border-radius: 10px;
}