@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

* {
    font-family: 'Bakbak One';
}

body {
    color: white;
    padding: 20px;
    display: grid;
    margin: 0;
  }
  
header {
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px #000000);
    text-align: center;
    margin: 21px;
    
}

a {
  color: rgb(81, 81, 233);
}

a:hover {
  color: rgb(76, 76, 76);
}

h2 {
    color: black;
    filter: drop-shadow(0px 0px 10px #000000);
}

  main {
    padding: 20px;
  }
  
footer {
  color: white;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


main {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

hr {
    width: 100%;
    margin-bottom: 0px;
    height: 0;
  
  }

.container {
    grid-column: 2;
  }

  #row1 {
    filter: drop-shadow(0px 0px 10px #000000);
    display: flex;
    background-color:rgb(92, 92, 92);
    align-items: center;
    border-radius: 10px;
    grid-column: 2;
    
  }

  #profile {
    grid-column: 1;
    margin-left: 50px;
  }

  #name {
    filter: drop-shadow( 5px 4px 4px #111111);
    margin-left: 30px;
  }

  #row2 {
    grid-column: 2;
    margin: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
  }

  #row3 {
    filter: drop-shadow(0px 0px 10px #000000);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    background-color:rgb(92, 92, 92);
    border-radius: 10px;
    grid-column: 2;
  }

  #endbody {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }

#copyright {
  margin-bottom: 5px;
}

  #last-update {
    color: yellow;
    margin-top: 0px;
    font-size: small;
  }

  #notice {
    color: rgb(55, 55, 55);
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 30px;
  }
